  body {
    font-family: "Lato", sans-serif;
}



.mainHead{
    height: 150px;
    background: #FFF;
   
}

.sidenavigation {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  padding-left: 8px;
}

.sidenavigation a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenavigation a:hover {
  color: #f1f1f1;
}


.main {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenavigation {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .loginfrm{
        margin-top: 10%;
    }

    .registerfrm{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%; 
    }

    .sidenavigation{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .loginfrm{
        margin-top: 40%;
    }

    .registerfrm{
        margin-top: 20%;
    }
}


.loginText{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.loginText h2{
    font-weight: 300;
}

.btn-black{
    background-color: #000 !important;
    color: #fff;

}
.post{
   color: blue;
   
   
}

.dropbtn {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 600px;
  
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

#myInput {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
  width: 600px;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.btnShowFriends{
    border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #dc3545;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.btnShowFollow{
    border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #495057;
  text-align: center;
  cursor: pointer;
  width: 100%;
  
  font-size: 18px;
}
.btnShowFollowee{
    border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #3498DB;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}




